[data-quizz-group] { 
    padding: 5px;
    border-left: 3px solid lightblue;
}

.ib-quizz-right {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(67, 140, 67);
    color: white;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
}
.ib-quizz-wrong {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(164, 60, 60);
    color: white;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
}
.ib-quizz-error {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(114, 57, 90);
    color: white;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
} 
.ib-quizz-hint, .ib-quizz-feedback {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(163, 163, 163);
    color: black;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
    cursor: pointer;
} 
/* MathEditor*/
.ibquizz-me-btn-openeditor {
    background: whitesmoke;
    vertical-align: top;
}

.ibquizz-me-btn-openeditor:hover {
    background: white;
}

.ibquizz-me-btn-openeditor>i.fas {
    color: darkred;
}

.ibquizz-square-root { 
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url("https://piworld.es/iedib/mqwidgets2/pw-square-root.png");
    display: inline-block;
    width: 16px;
    height: 16px;
}

.ibquizz-me-btn-toolbar {
    height: 35px;
    overflow: hidden;
    font-weight: bold;
}

.ibquizz-me-btn-toolbar>span {
    cursor: pointer;
    font-size: 90%;
}

.ibquizz-me-btn-toolbar:hover {
    background: white;
}