.ib-quizz-right {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(67, 140, 67);
    color: white;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
}
.ib-quizz-wrong {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(164, 60, 60);
    color: white;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
}
.ib-quizz-error {
    margin-left: 8px;
    border-radius:50%;
    background-color: rgb(114, 57, 90);
    color: white;
    width: 23px;
    display: inline-block;
    height: 23px;
    text-align: center;
} 