@media not print {
    div[role="snptd_presentacio"] {
        margin: auto;
        border-radius: 5px;
        border: 2px solid #d4ebee;
        max-width: 600px;
    }
  
    div[role="snptd_presentacio"].theme-dark > .tab-content {
        background: #363640;
        color: whitesmoke;
    }

    div[role="snptd_presentacio"].align-center div.tab-pane {
        align-self: center;
        min-height: initial;
    }

    div[role="snptd_presentacio"].align-bottom div.tab-pane {
        align-self: flex-end;
        min-height: initial;
    }
}
  